//* Colours
$colors: ('text/inverse');

//* Grid breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 575px,
    md: 767px,
    lg: 991px,
    xl: 1199px,
    xxl: 1399px,
);

//* Typography
//* Font Weights
$regular: 400;
$medium: 500;
$bold: 700;

//* Headings
%h1 {
    //* H1 styles
    font-size: 16px;
}

%body {
    //* Body styles
    font-size: 16px;
}
